<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!-- 通常，一个session-factory节点代表一个数据库 -->
  <session-factory>


    <!-- 1. 数据库连接配置 -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/jee_hw?characterEncoding=UTF8&amp;useSSL=false</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <!--            数据库方法配置， hibernate在运行的时候，会根据不同的方言生成符合当前数据库语法的sql         -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>


    <!-- 2. 其他相关配置 -->
    <property name="hibernate.connection.autocommit">true</property>
    <property name="current_session_context_class">thread</property>

  </session-factory>
</hibernate-configuration>